<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Car Dealership!</title>
    <link 
      rel="stylesheet" 
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" 
      integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" 
      crossorigin="anonymous">
  </head>
  <body style="text-align: center; padding-top: 50px; background-color: #87CEEB; list-style-position: inside;">
    <form action="/parcels" method="post">
    <h1><u>Add dimensions to your parcel!</u></h1>
    <label for="length">Length(ft):</label>
      <input id="length" name="length" type="text"><br>
      <label for="depth">Depth(ft):</label>
      <input id="depth" name="depth" type="text"><br>
      <label for="width">Width(ft):</label>
      <input id="width" name="width" type="text"><br>
      <label for="weight">Weight(lbs):</label>
      <input id="weight" name="weight" type="text"><br>
      <button type="submit">Submit</button>
    </form>
  </body>